<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>Resources List</h1>

    <hr class="my-5">

    <a href="/applications/new">Create a new application credential set</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Updated</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% if (applications && applications.length > 0) { %>
                <% applications.forEach(({ id, name, updatedAt }) => { %>
                    <tr>
                        <td><%= name %></td>
                        <td><%= updatedAt %></td>
                        <td>
                            <a href="/applications/<%= id %>">view</a> | 
                            <a href="/applications/<%= id %>/edit">edit</a> | 
                            <form action="/applications/<%= id %>" method="post" onsubmit="return confirm('Are you sure you want to delete this application?')">
                                <input type="hidden" name="_method" value="delete">
                                <button class="standard-link" type="submit">delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include("../shared/_footer") %>